body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #737373;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.container{
  max-width: 1400px;
}

.app-header{
  width: 100%;
  height: 100px;
  display: flex;
  background: rebeccapurple;
  margin-bottom: 10px;
}

.header-title{
  margin: auto;
  font-size: 30px;

}

.main{
  width: 100%;
}

.main-search{
  width: 100%;
  margin-bottom: 10px;
}

.search-input{
  width: 100%;
}

.main-list{
  display: flex;
  flex-wrap: wrap;
}

.card{
  background: #cecfcf;
  width: 17rem;
}

.card-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.card-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-checkbox{
  margin-top: 10px;
}